/*Style da pg index.html*/

.container {
    display: flex ;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.containerr {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
 } 

.center{
    text-align: center;
}
.justify{
    text-align:justify;
}

#menu li{
    display: inline;
    padding: 20px ;
}

#menu li a{
    font-size: 15px;
    text-decoration: none;
    color:rgb(0, 0, 0);
}
#menu li a:hover{
    text-decoration: none;
    color:gray;
}
.m-50 {
    margin-left: 50px;
    margin-right: 50px 
}
.b-50{
    border-radius: 30% ;
}
.p-30 {
    padding-left: 40px;
}
.tm-social{
    width: 50px;
    height: 50px;
}
.mb-50{
    margin-bottom: 50px;
}


/*Style da pg contato.html*/

.ml-50 {
    margin-left: 50px;
 }